# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
coverage
.env
Procfile.dev
*.rdb

# Ignore Rubymine
.idea*

# Ignore rvmrc
.rvmrc*

# Ignore DS_Store
.DS_Store
.keep

.ruby-version
.ruby-gemset
.rspec

*.bak
